<form #loginForm="ngForm" (ngSubmit)="login()">

  <div class="ui-g ui-fluid">

    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <h3>商城管理系统</h3>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText placeholder="请输入用户名" name="username" required [(ngModel)]="user.username">
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
        <input type="password" pInputText placeholder="请输入密码" name="password" required [(ngModel)]="user.password">
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <button pButton type="submit" [disabled]="!loginForm.form.valid" label="登录"></button>
      </div>
    </div>
  </div>
</form>
